In [1]:
from pymongo import MongoClient 
import numpy as np 
import pandas as pd
import matplotlib
import seaborn as sns
from matplotlib import pyplot as plt
from subprocess import check_output
from matplotlib.ticker import FuncFormatter
#To display visualizations in Jupyter Notebook
%matplotlib inline

In [2]:
client = MongoClient('mongodb://localhost:27017/')

In [3]:
db = client.g5
coll = db.h1b

In [4]:
h1b_data = pd.DataFrame(list(coll.find({})))

In [5]:
h1b_data.shape

(3002445, 12)

In [6]:
h1b_data.head()

,,CASE_STATUS,EMPLOYER_NAME,FULL_TIME_POSITION,JOB_TITLE,PREVAILING_WAGE,SOC_NAME,WORKSITE,YEAR,_id,lat,lon
0,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",Y,CHIEF PROCESS OFFICER,193066,CHIEF EXECUTIVES,"JERSEY CITY, NEW JERSEY",2016,5a891cdd4ca12757cf555ac3,40.7282,-74.0776
1,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",Y,"REGIONAL PRESIDEN, AMERICAS",220314,CHIEF EXECUTIVES,"DENVER, COLORADO",2016,5a891cdd4ca12757cf555ac4,39.7392,-104.99
2,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,Y,PRESIDENT MONGOLIA AND INDIA,157518,CHIEF EXECUTIVES,"ST. LOUIS, MISSOURI",2016,5a891cdd4ca12757cf555ac5,38.627,-90.1994
3,6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,Y,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",225000,CHIEF EXECUTIVES,"MIAMI, FLORIDA",2016,5a891cdd4ca12757cf555ac6,25.7617,-80.1918
4,7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,Y,CHIEF OPERATING OFFICER,91021,CHIEF EXECUTIVES,"HOUSTON, TEXAS",2016,5a891cdd4ca12757cf555ac7,29.7604,-95.3698

In [7]:
h1b_data.isnull().sum()

                      0
CASE_STATUS           0
EMPLOYER_NAME         0
FULL_TIME_POSITION    0
JOB_TITLE             0
PREVAILING_WAGE       0
SOC_NAME              0
WORKSITE              0
YEAR                  0
_id                   0
lat                   0
lon                   0
dtype: int64

In [8]:
h1b_data['CASE_STATUS'].unique()

array([u'CERTIFIED-WITHDRAWN', u'WITHDRAWN', u'CERTIFIED', u'DENIED',
       u'REJECTED', u'INVALIDATED',
       u'PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED', u'NA'], dtype=object)

In [14]:
h1b_data[h1b_data['CASE_STATUS']=="NA"]

,,CASE_STATUS,EMPLOYER_NAME,FULL_TIME_POSITION,JOB_TITLE,PREVAILING_WAGE,SOC_NAME,WORKSITE,YEAR,_id,lat,lon
3002445,3002446,NA,NA,NA,NA,NA,NA,"BERKLEY HEIGHTS, NEW JERSEY",NA,5a891d214ca12757cf8336d1,40.6809,-74.4311
3002446,3002447,NA,NA,NA,NA,NA,NA,"SCHENECTADY , NEW YORK",NA,5a891d214ca12757cf8336d2,42.8142,-73.9396
3002447,3002448,NA,NA,NA,NA,NA,NA,"MOUTAIN VIEW, CALIFORNIA",NA,5a891d214ca12757cf8336d3,37.3861,-122.084
3002448,3002449,NA,NA,NA,NA,NA,NA,"ST.PAUL, MINNESOTA",NA,5a891d214ca12757cf8336d4,44.9537,-93.09
3002449,3002450,NA,NA,NA,NA,NA,NA,"NEW TOWN, PENNSYLVANIA",NA,5a891d214ca12757cf8336d5,40.2283,-74.9323
3002450,3002451,NA,NA,NA,NA,NA,NA,"WESTMINISTER, COLORADO",NA,5a891d214ca12757cf8336d6,39.8367,-105.037
3002451,3002452,NA,NA,NA,NA,NA,NA,"FREEMONT, CALIFORNIA",NA,5a891d214ca12757cf8336d7,37.5483,-121.989
3002452,3002453,NA,NA,NA,NA,NA,NA,"LAVERGNE, TENNESSEE",NA,5a891d214ca12757cf8336d8,36.0156,-86.5819
3002453,3002454,NA,NA,NA,NA,NA,NA,"NYC, NEW YORK",NA,5a891d214ca12757cf8336d9,40.7128,-74.0059
3002454,3002455,NA,NA,NA,NA,NA,NA,"SOUTH LAKE, TEXAS",NA,5a891d214ca12757cf8336da,32.9412,-97.1342
3002455,3002456,NA,NA,NA,NA,NA,NA,"CLINTON, NEW JERSEY",NA,5a891d214ca12757cf8336db,40.6368,-74.9099
3002456,3002457,NA,NA,NA,NA,NA,NA,"OWINGS MILL, MARYLAND",NA,5a891d214ca12757cf8336dc,39.4195,-76.7803
3002457,3002458,NA,NA,NA,NA,NA,NA,"ALTANTA, GEORGIA",NA,5a891d214ca12757cf8336dd,33.749,-84.388

In [10]:
h1b_data = coll.delete_many({"CASE_STATUS": "NA"})

In [12]:
h1b_data = pd.DataFrame(list(coll.find({})))

In [13]:
h1b_data[h1b_data['CASE_STATUS']=="NA"]

Empty DataFrame
Columns: [, CASE_STATUS, EMPLOYER_NAME, FULL_TIME_POSITION, JOB_TITLE, PREVAILING_WAGE, SOC_NAME, WORKSITE, YEAR, _id, lat, lon]
Index: []

In [14]:
h1b_data['EMPLOYER_NAME'].unique()

array([u'PORTS AMERICA GROUP, INC.',
       u'GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY OF TOMKINS PLC',
       u'PEABODY INVESTMENTS CORP.', ...,
       u'ELEGANT SUPER STORES CORPORATE CORP (HDQTRS)',
       u'TELSEY CAPITAL GROUP LLC', u'J. LOGAN INTERIORS'], dtype=object)

In [15]:
h1b_data[h1b_data['EMPLOYER_NAME']=="NA"]

,,CASE_STATUS,EMPLOYER_NAME,FULL_TIME_POSITION,JOB_TITLE,PREVAILING_WAGE,SOC_NAME,WORKSITE,YEAR,_id,lat,lon
103770,103771,DENIED,NA,N,BUSINESS ANALYST,55390.4,COMPUTER SYSTEMS ANALYSTS,"FAIRFAX, VIRGINIA",2016,5a891ce04ca12757cf56f084,38.8462,-77.3064
291832,291833,DENIED,NA,Y,"VICE PRESIDENT, SENIOR PRINCIPAL DEVELOPMENT M...",118934,"SOFTWARE DEVELOPERS, APPLICATIONS","NEW YORK, NEW YORK",2016,5a891ce44ca12757cf59cfde,40.7128,-74.0059
667444,667445,WITHDRAWN,NA,Y,NA,107328,MANAGEMENT ANALYSTS,"NY, NEW YORK",2015,5a891cec4ca12757cf5f8c92,40.7128,-74.0059
667953,667954,WITHDRAWN,NA,Y,NA,117624,FINANCIAL MANAGERS,"NA, FLORIDA",2015,5a891cec4ca12757cf5f8e8f,NA,NA
949692,949693,WITHDRAWN,NA,Y,COMPUTER PROGRAMMERS,63981,COMPUTER PROGRAMMERS,"IRVING, TEXAS",2015,5a891cf34ca12757cf63dc36,32.814,-96.9489
1026031,1026032,WITHDRAWN,NA,Y,SYSTEMS ADMINISTRATOR,61714,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,"RESTON, VIRGINIA",2015,5a891cf44ca12757cf6506b6,38.9586,-77.357
1062198,1062199,WITHDRAWN,NA,Y,QA ANALYST,57990,"COMPUTER OCCUPATIONS, ALL OTHER","CHARLOTTE, NORTH CAROLINA",2015,5a891cf54ca12757cf659421,35.2271,-80.8431
1270363,1270364,WITHDRAWN,NA,Y,ENGINEER II,72072,Industrial Production Managers,"NA, ARIZONA",2014,5a891cfa4ca12757cf68c216,NA,NA
1272615,1272616,WITHDRAWN,NA,Y,CAPTAIN (FLIGHT PILOT),93753,"Airline Pilots, Copilots, and Flight Engineers","CA, CALIFORNIA",2014,5a891cfa4ca12757cf68cae4,NA,NA
1274662,1274663,WITHDRAWN,NA,Y,HEALTH AND SAFETY SPECIALIST II,59738,"Mining and Geological Engineers, Including Mining","NA, TEXAS",2014,5a891cfa4ca12757cf68d2e5,NA,NA
1276933,1276934,WITHDRAWN,NA,Y,VICE PRESIDENT OF ENGINEERING,104478,Architectural and Engineering Managers,"SAN FRANCISCO, CALIFORNIA",2014,5a891cfa4ca12757cf68dbc6,37.7749,-122.419
1284021,1284022,WITHDRAWN,NA,Y,MANAGEMENT ANALYST,68890,Management Analysts,"SAN FRANCISCO, CALIFORNIA",2014,5a891cfa4ca12757cf68f77e,37.7749,-122.419
1285250,1285251,WITHDRAWN,NA,Y,CHIEF OPERATING OFFICER,135574,Marketing Managers,"SAN FRANCISCO, CALIFORNIA",2014,5a891cfa4ca12757cf68fc4c,37.7749,-122.419
1286218,1286219,WITHDRAWN,NA,Y,NA,108888,"Software Developers, Applications","SAN FRANCISCO, CALIFORNIA",2014,5a891cfa4ca12757cf690015,37.7749,-122.419
1299692,1299693,DENIED,NA,Y,PROJECT MANAGER,68598,NA,"BAKERSFIELD, CALIFORNIA",2014,5a891cfa4ca12757cf6934c4,35.3733,-119.019
1402947,1402948,DENIED,NA,Y,PROGRAMMER ANALYST,69805,Computer Systems Analysts,"ALLENTOWN, PENNSYLVANIA",2014,5a891cfd4ca12757cf6ac884,40.6084,-75.4902
1805985,1805986,WITHDRAWN,NA,Y,SENIOR SOFTWARE QA ENGINEER,100984,"Software Developers, Applications","SAN JOSE, CALIFORNIA",2013,5a891d064ca12757cf70f075,37.3382,-121.886
1951670,1951671,WITHDRAWN,NA,Y,PROGRAMMER ANALYST,53394,Computer Programmers,"NEW YORK, NEW YORK",2013,5a891d094ca12757cf732a1c,40.7128,-74.0059
2033037,2033038,WITHDRAWN,NA,Y,NA,NA,"Software Developers, Applications","CA, CALIFORNIA",2013,5a891d0b4ca12757cf746846,NA,NA
2175821,2175822,WITHDRAWN,NA,Y,SENIOR PROGRAMMER ANALYST,98987,NA,"SEATTLE, WASHINGTON",2013,5a891d0e4ca12757cf769694,47.6062,-122.332
2251041,2251042,CERTIFIED,NA,Y,PROJECT ENGINEER,78811,Mechanical Engineers,"LIVONIA, MICHIGAN",2012,5a891d104ca12757cf77bcb4,42.3684,-83.3527
2270634,2270635,DENIED,NA,Y,MANAGER,89398,"Computer Occupations, All Other*","PHOENIX, ARIZONA",2012,5a891d104ca12757cf780950,33.4484,-112.074
2327771,2327772,WITHDRAWN,NA,Y,NA,79102,Computer Systems Analysts,"SAN JOSE, CALIFORNIA",2012,5a891d114ca12757cf78e8ba,37.3382,-121.886
2348910,2348911,WITHDRAWN,NA,Y,NA,52978,"Biological Scientists, All Other","NJ, NEW JERSEY",2012,5a891d124ca12757cf793b62,NA,NA
2434307,2434308,WITHDRAWN,NA,NA,NA,NA,"Software Developers, Applications","NA, UTAH",2012,5a891d144ca12757cf7a894d,NA,NA
2506133,2506134,WITHDRAWN,NA,Y,SOFTWARE ENGINEER,NA,"Software Developers, Applications","CA, CALIFORNIA",2012,5a891d154ca12757cf7ba227,NA,NA
2595880,2595881,WITHDRAWN,NA,Y,FAMILY MEDICINE PHYSICIAN,112154,Family and General Practitioners,"BRONX, NEW YORK",2012,5a891d174ca12757cf7d0113,40.8448,-73.8648
2619565,2619566,WITHDRAWN,NA,Y,NA,94848,NA,"ASHBURN, VIRGINIA",2012,5a891d184ca12757cf7d5db0,39.0438,-77.4874
2691513,2691514,WITHDRAWN,NA,Y,NA,NA,Market Research Analysts,"NY, NEW YORK",2011,5a891d1a4ca12757cf7e7705,40.7128,-74.0059
2834489,2834490,WITHDRAWN,NA,Y,HARDWARE ENGINEER,0,NA,"CA, CALIFORNIA",2011,5a891d1d4ca12757cf80a615,NA,NA
2866640,2866641,WITHDRAWN,NA,Y,TEST MANAGER,65541,Software Quality Assurance Engineers and Testers,"CA, CALIFORNIA",2011,5a891d1e4ca12757cf8123cc,NA,NA
2995389,2995390,CERTIFIED,NA,Y,SENIOR CONSULTANT,81723,"Software Developers, Systems Software","SOUTHFIELD, MICHIGAN",2011,5a891d204ca12757cf831b3a,42.4734,-83.2219